{% extends 'base.html' %}
{% load staticfiles %}

    {% block content %}

      <div class="row no-margin">
        <div class="col l7 m6 s12" id="loginImg"></div>
        <div class="col l5 m6 s12 center" id="loginDiv">
          <div class="col l10 offset-l1 s12 loginForm">
            <img src="logo_cadhu.png" style="height: 60px" id="logoHome"/>
            <form action="/validar" method="POST" class="loginForm">
              <div class="row">
                <div class="input-field col s12">
                  <input class="validate" name="username" type="text" required=""/>
                  <label for="loginUsuario">Usuario</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input class="validate" name="password" type="password" required=""/>
                  <label for="loginPassword">Contraseña</label>
                </div>
              </div>
              <div class="row center-align">
                <button class="btn waves-effect waves-light white cadhu-blue-text rounded-button" type="submit" name="action">
                  INICIAR SESIÓN
                </button>
              </div>
            </form><br/>
            <!-- <hr/> -->
            <!-- <div class="row center-align"><br/><a href="/misescenarios" class="white-text ">Recuperar Contraseña</a></div> -->
          </div>
        </div>
      </div>
    {% endblock %}
