{% extends "base.html" %}
{% load staticfiles %}

    {% block title %}Evento{% endblock %}
{% block content %}
              <div class="card ">
                <div class="card-content">
                    <form method="POST">
                    <br>
                        <div class="row">
                          <div class="col s3 m3"></div>
                          <div class="input-field col s12">
                            <input type="text" name="{{NewEventoForm.Nombre.html_name}}" id="{{ NewEventoForm.Nombre.id_for_label }}" class="validate" required>
                            <label for="{{NewEventoForm.Nombre.id_for_label}}" data-error="Nombre inválido" data-success="Nombre correcto">Nombre evento</label>
                          </div>
                          <div class="col s3 m3"></div>
                        </div>
                        <div class="row">
                          <div class="col s3 m3"></div>
                          <div class="input-field col s12">
                              <textarea type="text" name="{{NewEventoForm.Descripcion.html_name}}" id="{{ NewEventoForm.Descripcion.id_for_label }}" class="validate materialize-textarea" required></textarea>
                            <label for="{{NewEventoForm.Descripcion.id_for_label}}" data-error="Descripción inválida" data-success="Descripción válida">Descripcion</label>
                          </div>
                          <div class="col s3 m3"></div>
                        </div>
                    {%csrf_token%}
                    <br>
                    <br>
                    <div class="text-center">
                        <div class="row center">
                          <div class="col s2 m2"></div>
                          <a href="{% url 'eventos:lista_evento' %}" class="btn waves-effect waves-light col s3 m3 back_button">Regresar</a>
                          <div class="col s2 m2"></div>
                          <button type="submit" class="btn waves-effect waves-light col s3 m3 form_button">Guardar</button>
                          <div class="col s2 m2"></div>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
  {% endblock %}
