{% extends "base.html" %}
{% load staticfiles %}

    {% block title %}Eventos{% endblock %}
      {% block content %}
      <div class="fixed-action-btn">
        <a href="{% url 'eventos:crear_curso' %}" class="btn-floating btn-large orange">
          <i class="large material-icons">add</i>
        </a>
      </div>
            <table class="dataTable">
                <thead>
                  <tr>
                      <th class="center">Nombre</th>
                      <th class="center">Descripción</th>
                      <th class="center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                {% for curso in cursos %}
                    <tr>
                        <td>{{ curso.Nombre }}</td>
                        <td>{{ curso.Descripcion }}</td>
                        <td class="center">
                          <a href="{% url 'eventos:editar_curso' curso.id %}"><i class="material-icons text-blue-ligero">edit</i></a>
                          <a href="{% url 'eventos:eliminar_curso' curso.id %}" onclick="eliminar_curso(this, event)"><i class="material-icons text-rojo-cadhu">delete</i></a></td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

  {% endblock %}

  {% block js %}

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js'></script>

  <script>

        function eliminar_curso(element, event){
          event.preventDefault();
          $.confirm({
            title: '¿Deseas eliminar el curso?',
            content: 'No podrá ser utilizado en un futuro.',
            type: 'red',
            closeIcon: true,
            columnClass: 'col l6 offset-l3 s12',
            typeAnimated: true,
            buttons: {
              continuar: {
                  text: 'Eliminar',
                  btnClass: 'btn-red',

                action: function(){
                  window.location.href = $(element).attr("href");
                }
              }
            }
          });
        }


        {% if messages %}
          {%for message in messages %}
              {% if message.level == 40 %}
                  var mensaje = '<span>{{message}}</span><a href="/media/resultado.xls" class="btn-flat toast-action">Resultados</a>';
                  M.toast({html: mensaje, displayLength: 60000})
              {% endif %}
          {% endfor %}
        {% endif %}

  </script>
  {% endblock %}
