{% extends "base.html" %}
{% load staticfiles %}

    {% block title %}Eventos{% endblock %}
      {% block content %}
      <div class="fixed-action-btn">
        <a href="{% url 'eventos:crear_evento' %}" class="btn-floating btn-large orange">
          <i class="large material-icons">add</i>
        </a>
      </div>
            <table class="dataTable">
                <thead>
                  <tr>
                      <th class="center">Nombre</th>
                      <th class="center">Descripción</th>
                      <th class="center">Acciones</td>
                  </tr>
                </thead>
                <tbody>
                {% for evento in eventos %}
                    <tr>
                        <td>{{ evento.Nombre }}</td>
                        <td>{{ evento.Descripcion }}</td>
                        <td class="center"><a href="{% url 'eventos:editar_evento' evento.id %}"><i class="material-icons text-blue-ligero">edit</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

  {% endblock %}
