{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} {{ relacion.grupo }} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons left">person</i> {{ prospecto.nombre }} {{ prospecto.apellidos }}</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="col s12 m4 l4">
                                        <label>Email</label>
                                        {{ prospecto.email }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>Celular</label>
                                        {{ prospecto.telefono_celular }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>Casa</label>
                                        {{ prospecto.telefono_casa }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m4 l4">
                                        <label for="ocupacion">Ocupaci&oacute;n</label>
                                        {{ prospecto.ocupacion }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>¿Cómo se enteró?</label>
                                        {{ prospecto.metodo_captacion }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label for="otro">Radio/Recomendacion </label>
                                        {{ prospecto.recomendacion }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m4 l4">
                                        <label>Estado civil</label>
                                        {{ prospecto.estado_civil }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>Hijos</label>
                                        {{ prospecto.hijos }}
                                    </div>
                                </div>
                                <h4 class="center">Dirección</h4>
                                <div class="row">
                                    <div class="col s12 m4 l4">
                                        <label>Pa&iacute;s</label>
                                        {{ prospecto.direccion.pais }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>Estado</label>
                                        {{ prospecto.direccion.estado }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>Ciudad</label>
                                        {{ prospecto.direccion.ciudad }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m4">
                                        <label for="colonia">Colonia</label>
                                        {{ prospecto.direccion.colonia }}
                                    </div>
                                    <div class="col s12 m4">
                                        <label for="calle">Calle</label>
                                        {{ prospecto.direccion.calle }}
                                    </div>
                                    <div class="col s12 m4">
                                        <label for="codigo_p" data-error="Use valores num&eacute;ricos">C&oacute;digo postal</label>
                                        {{ prospecto.direccion.codigo_postal }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 m4">
                                        <label for="num_ext">Exterior</label>
                                        {{ prospecto.direccion.numero_exterior }}
                                    </div>
                                    <div class="col s6 m4">
                                        <label for="num_int" data-error="Use valores num&eacute;ricos">Interior</label>
                                        {{ prospecto.direccion.numero_interior }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% if prospecto.comentarios %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons left">reorder</i>Comentarios</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    {{ prospecto.comentarios|linebreaks }}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>


    <ul id="tabs" class="tabs">
        <li class="tab col s4 offset-s1"><a href="#agenda" class="active">Agenda</a></li>
        <li class="tab col s5 offset-s1"><a href="#bitacora">Bitácora</a></li>
    </ul>

    {#------------------------Agenda ----------------------------#}
    <div id="agenda" class="col s12">
        <div class="">
            <div class="row">
            </div>
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Grupo</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Notas</th>
                    <th>Terminado</th>
                </tr>
                </thead>
                <tbody>
                {% for actividad in relacion.agenda %}
                    <tr>
                        <td>{{ actividad.titulo }}</td>
                        <td>{{ actividad.prospecto_grupo.grupo.nombre }}</td>
                        <td>{{ actividad.fecha }}</td>
                        <td>{{ actividad.hora }}</td> <!--|time:'h i A'}}-->
                        <td class="'truncate elipsis">
                            <a class="modal-trigger" id="notas{{ actividad.pk }}" href="#modal{{ actividad.pk }}">{{ actividad.notas }}</a>
                        </td>
                        <td>
                            <a href="{% url 'prospectos:estado_actividad' actividad.id %}"><i class="material-icons text-blue-cadhu">radio_button_unchecked</i></a>
                        </td>
                    </tr>
                    <!-- Modal Structure -->
                    <div id="modal{{ actividad.pk }}" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Notas</h4>
                            <p>{{ actividad|linebreaks }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
                        </div>
                    </div>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {#------------------- Bitacora------------------#}
    <div id="bitacora" class="col s12">
        <div class="">
            <div class="row">
            </div>
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Grupo</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Notas</th>
                    <th>Terminado</th>
                </tr>
                </thead>
                <tbody>
                    {% for actividad in relacion.bitacora %}
                        <tr>
                            <td>{{ actividad.titulo }}</td>
                            <td>{{ actividad.prospecto_grupo.grupo.nombre }}</td>
                            <td>{{ actividad.fecha }}</td>
                            <td>{{ actividad.hora }}</td> <!--|time:'h i A'}}-->
                            <td class="'truncate elipsis">
                                <a class="modal-trigger" id="notas{{ actividad.pk }}" href="#modal{{ actividad.pk }}">{{ actividad.notas }}</a>
                            </td>
                            <td>
                                <a href="{% url 'prospectos:estado_actividad' actividad.id %}"><i class="material-icons  text-blue-cadhu">radio_button_checked</i></a>
                            </td>
                        </tr>
                        <!-- Modal Structure -->
                        <div id="modal{{ actividad.pk }}" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>Notas</h4>
                                <p>{{ actividad.notas|linebreaks }}</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large orange" href="{% url 'prospectos:crear_actividad' relacion.id %}">
            <i class="large material-icons">note_add</i>
        </a>
        <ul>
            <li><a class="btn-floating blue" href="mailto:{{ relacion.prospecto.email }}" target="_blank"><i class="material-icons">email</i></a></li>
            <li><a class="btn-floating green" onclick="whatsapp({{  relacion.prospecto.telefono_celular }});" href="#"><i class="material-icons">sms</i></a></li>
        </ul>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% for actividad in actividades %}
            $("#notas{{ actividad.pk }}").on("click", function () {
                $('#modal{{ actividad.pk }}').modal('open');
            });
        {% endfor %}
    </script>
{% endblock %}