{% extends "base.html" %}
{% load staticfiles %}
    {% block title %}Lista de Pagos{% endblock %}
{% block content %}

<div class="row no-margin padding-top-20">
  <div class="card ">
    <div class="card-content">
      <div class="row">
        <div class="col l6 s12">
          <h6 style="text-transform: uppercase">
            <b> {{ prospecto.nombre }} {{ prospecto.apellidos }}  </b>
          </h6>
        </div>
        <div class="col l6 s12 ">
          <h6 style="text-align: right">
            Matrícula: {{ cliente.cliente_set.last.matricula }}
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6>
            Lista de Pagos
          </h6>
        </div>
      </div>
      <div class="row no-margin">
        <ul class="collapsible expandable">
          {% for pago in pagos %}
            <li>
              <div class="collapsible-header">
                <div class="p-left">$ {{ pago.monto }}</div>
                <div class="p-center">{{ pago.fecha }}</div>
                <div class="p-right">{% if pago.validado == False %}
                    <a href="{% url 'prospectos:autorizar_pago' pago.id %}"><i class="material-icons text-rojo-cadhu">cancel</i></a>
                    {% else %}
                        <a><i class="material-icons text-green">check</i></a>
                    {% endif %}</div>
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col s12">
                    <i class="material-icons left">local_atm</i>
                    <b>Tipo de pago:</b> {{ pago.tipo_pago }}
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <i class="material-icons left">label</i>
                    <b>No. de referencia:</b> {{ pago.referencia }}
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <i class="material-icons left">textsms</i>
                    {% if comentarios != "none" %}
                    <b>Comentarios:</b> {{ pago.comentarios }}
                    {% else %}
                    <b>Comentarios:</b> -
                    {% endif %}
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% if restante > 0 %}
        <div class="row">
          <div class="col s12 center">
            <a href="{% url 'prospectos:nuevo_pago' id_pe %}" class="btn waves-effect waves-light form_button">+ Agregar Pago</a>
          </div>
        </div>
      {% endif %}
      <hr />
      <div class="row">
        <div class="col s12">
          <h6>
            Costo Total: $ {{ costo }}
          </h6>
          <h6>
            Saldo Pagado: $ {{ subtotal }}
          </h6>
          <h6>
            Saldo Restante: $ {{ restante }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 center">
    <br />
    <a href="{% url 'prospectos:info_prospecto' prospecto.id %}" class="btn waves-effect waves-light back_button">
      <i class="material-icons left">arrow_back</i>
      Regresar
    </a>
  </div>
</div>
  {% endblock %}
