{% extends "base.html" %}
{% load staticfiles %}

    {% block title %}Nuevo Pago{% endblock %}
{% block content %}

<div class="row no-margin padding-top-20">
  <div class="card ">
    <div class="card-content">
      <div class="row">
        <div class="col l6 s12">
          <h6 style="text-transform: uppercase">
            <b> {{ prospecto.Nombre }} {{ prospecto.Apellidos }}  </b>
          </h6>
        </div>
        <div class="col l6 s12 ">
          <h6 style="text-align: right">
            Matrícula: {{ cliente.Matricula }}
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6>
            Lista de Pagos
          </h6>
        </div>
      </div>
      <div class="row no-margin">
        <ul class="collapsible expandable">
          {% for pago in pagos %}
            <li>
              <div class="collapsible-header">$ {{ pago.monto }}</div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col s12">
                    <i class="material-icons left">event</i>
                    <b>Fecha:</b> {{ pago.fecha }}
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <i class="material-icons left">label</i>
                    <b>No. de referencia:</b> {{ pago.referencia }}
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% if restante > 0 %}
        <div class="row">
          <div class="col s12">
            <a href="{% url 'prospectos:nuevo_pago' idPE %}" class="btn waves-effect waves-light form_button" type="submit" name="action">+ Agregar Pago</a>
          </div>
        </div>
      {% endif %}
      <hr />
      <div class="row">
        <div class="col s12">
          <h6>
            Costo Total: $ {{ curso.Costo }}
          </h6>
          <h6>
            Saldo Pagado: $ {{ subtotal }}
          </h6>
          <h6>
            Saldo Restante: $ {{ restante }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
