{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

    {% block title %}Editar Grupo{% endblock %}
{% block content %}

  <div class="row no-margin padding-top-20">
      <div class="card ">
        <div class="card-content">
          <form method="post">
            {% csrf_token %}
                <div class="row no-margin">
                  <div class="input-field col l8 offset-l2 s10 offset-s1">
                      {{ form.Nombre }}
                      <label for="Nombre">Nombre(s)*</label>
                  </div>
                </div>
                <div class="row no-margin">
                    <div class="input-field col l8 offset-l2 s10 offset-s1">
                        {{ form.Evento }}
                        <label>Curso</label>
                    </div>
                </div>
            <div class="row no-margin">
              <div class="input-field col l8 offset-l2 s10 offset-s1">
                <input type="text" value="{{ form.Fecha_Inicio.value | date:'Y-m-d'}}" name="{{form.Fecha_Inicio.html_name}}"
                       id="{{ form.Fecha_Inicio.id_for_label }}" class="datepicker" required>
                <label for="{{form.Fecha_Inicio.id_for_label}}" >Fecha de Inicio</label>
              </div>
            </div>
            <div class="row no-margin">
              <div class="input-field col l8 offset-l2 s10 offset-s1">
                <input type="text" value="{{ form.Fecha_Fin.value | date:'Y-m-d' }}" name="{{form.Fecha_Fin.html_name}}"
                       id="{{ form.Fecha_Fin.id_for_label }}" class="datepicker" required>
                <label for="{{form.Fecha_Fin.id_for_label}}" >Fecha de Fin</label>
              </div>
            </div>
            <div class="row no-margin">
              <div class="input-field col l8 offset-l2 s10 offset-s1">
                  {{ form.Direccion }}
                  <label>Dirección</label>
              </div>
            </div>
            <div class="row no-margin">
              <div class="input-field col l8 offset-l2 s10 offset-s1">
                  {{ form.Descripcion }}
                  <label>Descripción</label>
              </div>
            </div>
            <div class="row no-margin">
              <div class="input-field col l8 offset-l2 s10 offset-s1">
                <input type="number" name="{{form.Costo.html_name}}" id="{{ form.Costo.id_for_label }}" required step=".01" min="0" value="{{ form.Costo.value }}">
                <label for="{{form.Costo.id_for_label}}">Costo</label>
              </div>
            </div>
              <div class="row no-margin">
                <div class="input-field col l8 offset-l2 s10 offset-s1">
                  {{ form.Encargado }}
                  <label>Encargado</label>
                </div>
            </div>
            <br>
            <div class="row">
              <center>
                <button class="btn waves-effect waves-light form_button" type="submit" name="action">Guardar Cambio</button>
              </center>
            </div>
          </form>

      </div>
  {% endblock %}
