{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Curso{% endblock %}
{% block content %}
    <div class="card ">
        <div class="card-content">
            <form method="POST">
                <br>
                <div class="row">
                    <div class="col s3 m3"></div>
                    <div class="input-field col s12">
                        {{ new_curso_form.nombre | add_class:'form-control' }}
                        <label for="{{new_curso_form.nombre.id_for_label}}" data-error="Nombre inválido" data-success="Nombre correcto">Nombre*</label>
                    </div>
                    <div class="col s3 m3"></div>
                </div>
                <div class="row">
                    <div class="col s3 m3"></div>
                    <div class="input-field col s12">
                        {{ new_curso_form.descripcion | add_class:'form-control' }}
                        <label for="{{new_curso_form.descripcion.id_for_label}}" data-error="Descripción inválida" data-success="Descripción válida">Descripcion*</label>
                    </div>
                    <div class="col s3 m3"></div>
                </div>
                {%csrf_token%}
                <br>
                <br>
                <div class="row center">
                      <a href="{% url 'cursos:lista_cursos' %}" class="btn waves-effect waves-light form_button red">Cancelar</a>
                      <button type="submit" class="btn waves-effect waves-light form_button">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
