{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load grupos %}

{% block title %} Grupo: {{ curso.Nombre }}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h6 class="card-title center">{{ curso.Nombre }}</h6>
                </div>
                <div class="card-content">
                    {#----------------Info-------------#}
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="Nombre">Nombre(s)</label>
                            {{ curso.Nombre }}
                        </div>
                        <div class="col s12 m6">
                            <label for="apellido_p">Curso</label>
                            {{ curso.Evento }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <label>Fecha de inicio</label>
                            {{ curso.Fecha_Inicio }}
                        </div>
                        <div class="col s12 m4 l4">
                            <label>Fecha de fin</label>
                            {{ curso.Fecha_Fin }}
                        </div>
                        <div class="col s12 m4 l4">
                            <label for="ocupacion">Costo</label>
                            {{ curso.Costo }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <label>Encargad@</label>
                            {{ curso.Encargado.first_name }} {{ curso.Encargado.last_name }}
                        </div>
                        <div class="col s12 m4 l4">
                            <label for="otro">Direccion/Sede</label>
                            {{ curso.Direccion }}
                        </div>
                        <div class="col s12 m4">
                            {% if curso.Activo %}
                                <label class="text-verde-cadhu">Activo</label>
                            {% else %}
                                <label class="text-rojo-cadhu">Inactivo</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 ">
                            <h6 class="card-title">Descripción</h6><br>
                            {{ curso.Descripcion }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ul id="tabs" class="tabs">
        <li class="tab col s6"><a href="#prospectos" class="active">Prospectos</a></li>
        <li class="tab col s6"><a href="#clientes">Clientes</a></li>
    </ul>

    <!--- PROSPECTOs ------->
    <div id="prospectos" class="col s12">
        <div class="row">
        </div>
{#        <div class="fixed-action-btn">#}
{#            <a class="btn-floating btn-large waves-effect waves-light form_button modal-trigger tooltipped" href="#modalCursos" data-position="left" data-delay="50" data-tooltip="Agregar Grupo">#}
{#                <i class="large material-icons">add</i>#}
{#            </a>#}
{#        </div>#}
        {% if request.user|has_group:"vendedora"%}
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Último contacto</th>
                    <th>Grado de interés</th>
                    <th>Flag</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>WhatsApp</th>
                    <th>Email</th>
                    <th>Actividades</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for prospectoEvento, actividades in prospectos.items %}
                    <tr>
                        <td>
                            {#------------------ te devuelve la ultima fecha de una actividad terminada -------------#}
                            {% with actividad=actividades.all|dictsort:'fecha'|last %}
                                {{ actividad.fecha }}
                            {% endwith %}
                        </td>
                        <td>{{ prospectoEvento.Interes }}</td>
                        {% if prospectoEvento.Curso.FlagCADHU == True %}
                            <td><a><i class="material-icons grey-text text-lighten-1">flag</i></a></td>
                        {% else %}
                            <td><a><i class="material-icons text-rojo-cadhu">flag</i></a></td>
                        {% endif %}
                        <td><a href="{% url 'prospectos:info_prospecto_curso' prospectoEvento.id %}">{{ prospectoEvento.Prospecto.Nombre }}</a></td>
                        <td><a href="{% url 'prospectos:info_prospecto_curso' prospectoEvento.id %}">{{ prospectoEvento.Prospecto.Apellidos }}</a></td>
                        <td><a class="whatsapp" onclick="whatsapp({{ prospectoEvento.Prospecto.Telefono_Celular }});" href="#">{{ prospectoEvento.Prospecto.Telefono_Celular }}</a></td>
                        <td><a href="mailto:{{ prospectoEvento.Prospecto.Email }}">{{ prospectoEvento.Prospecto.Email }}</a></td>
                        <td></td>
                        <td class="center">
                            <a href="{% url 'prospectos:editar_curso' prospectoEvento.id %}"><i class="material-icons text-blue-ligero">edit</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% elif request.user|has_group:"administrador" %}
            <table class="dataTableX">
                <thead>
                    <tr>
                        <th>Último contacto</th>
                        <th>Grado de interés</th>
                        <th>Flag</th>
                        <th>Sede</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>WhatsApp</th>
                        <th>Email</th>
                        <th>Actividades</th>
                        <th>¿Cómo te enteraste?</th>
                        <th>Estación/Recomendador</th>
                        <th>Comentarios</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prospectoEvento, actividades in prospectos.items %}
                        <tr>
                            <td>
            {#/------------------ te devuelve la ultima fecha de una actividad terminada -------------#}
{#                                {% with activi = actividades.actividad | dictsort:'fecha' | last %}#}
{#                                    {{ actividad.fecha }}#}
{#                                {% endwith %}#}
                            </td>
                            <td>{{ prospectoEvento.Interes }}</td>
                            {% if prospectoEvento.Curso.FlagCADHU == True %}
                                <td><a><i class="material-icons grey-text text-lighten-1">flag</i></a></td>
                            {% else %}
                                <td><a><i class="material-icons text-rojo-cadhu">flag</i></a></td>
                            {% endif %}
                            <td>{{ prospectoEvento.Curso.Direccion }}</td>
                            <td><a href="{% url 'prospectos:info_prospecto_curso' prospectoEvento.id %}">{{ prospectoEvento.Prospecto.Nombre }}</a></td>
                            <td><a href="{% url 'prospectos:info_prospecto_curso' prospectoEvento.id %}">{{ prospectoEvento.Prospecto.Apellidos }}</a></td>
                            <td><a class="whatsapp" onclick="whatsapp({{ prospectoEvento.Prospecto.Telefono_Celular }});" href="#">{{ prospectoEvento.Prospecto.Telefono_Celular }}</a></td>
                            <td><a href="mailto:{{ prospectoEvento.Prospecto.Email }}">{{ prospectoEvento.Prospecto.Email }}</a></td>
                            <td></td>
                            <td>
                                {{ prospectoEvento.Prospecto.Metodo_Captacion }}
                            </td>
                            <td>{{ prospectoEvento.Prospecto.Recomendacion }}</td>
                            <td class="'truncate elipsis">
                                <a class="modal-trigger" id="notas{{ prospectoEvento.Prospecto.pk }}" href="#modal{{ prospectoEvento.Prospecto.pk }}">{{ prospectoEvento.Prospecto.comentarios }}</a>
                            </td>
                            <td>
                                <a href="{% url 'prospectos:editar_curso' prospectoEvento.id %}"><i class="material-icons text-blue-ligero">edit</i></a>
                            </td>
                        </tr>
                        <!-- Modal Structure -->
                        <div id="modal{{ prospectoEvento.Prospecto.pk }}" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>Comentarios de cliente</h4>
                                <p>{{ prospectoEvento.Prospecto.comentarios }}</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
    </div>

    {#------------------------Clientes ----------------------------#}
    <div id="clientes" class="col s12">
        <div class="">
            <div class="row">
            </div>
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>WhatsApp</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td><a href="{% url 'prospectos:info_prospecto' cliente.ProspectoEvento.Prospecto.id %}">{{ cliente.ProspectoEvento.Prospecto.Nombre }}</a></td>
                        <td><a href="{% url 'prospectos:info_prospecto' cliente.ProspectoEvento.Prospecto.id %}">{{ prospecto.Apellidos }}</a></td>
                        <td><a class="whatsapp" onclick="whatsapp({{ cliente.ProspectoEvento.Prospecto.Telefono_Celular }});" href="#">{{ prospecto.Telefono_Celular }}</a></td>
                        <td><a href="mailto:{{ prospecto.Email }}">{{ cliente.ProspectoEvento.Prospecto.Email }}</a></td>
                        <td>
                            <a href="{% url 'prospectos:editar_prospecto' cliente.ProspectoEvento.Prospecto.id %}"><i class="material-icons text-blue-ligero">edit</i></a>
                            <a href="{% url 'prospectos:registrar_cursos' cliente.ProspectoEvento.Prospecto.id %}"><i class="material-icons text-blue-ligero">person</i></a>
                            {% if titulo == 'Prospectos' %}
                                <a href="{% url 'prospectos:baja_prospecto' cliente.ProspectoEvento.Prospecto.id %}" onclick="cambiar_estatusProspecto(this, event)"><i class="material-icons text-rojo-cadhu">delete</i></a>
                            {% else %}
                                <a href="{% url 'prospectos:baja_prospecto' cliente.ProspectoEvento.Prospecto.id %}" onclick="cambiar_estatusProspecto(this, event)"><i class="material-icons text-verde-cadhu">add_circle</i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% for actividad in actividades %}
            $("#notas{{ actividad.pk }}").on("click", function () {
                $('#modal{{ actividad.pk }}').modal('open');
            });
        {% endfor %}
    </script>
{% endblock %}
