{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}Crear Actividad{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="center">{{ titulo }}</h1>
        <br>
        <br>
        <div class="row center-align">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <form method="post" id="crear_actividad" class="" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">person</i>
                                    <input type="text" name="{{ form.titulo.html_name }}"
                                           id="{{ form.titulo.id_for_label }}" required>
                                    <label for="{{ form.titulo.id_for_label }}">Actividad:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m4 offset-m2">
                                    <i class="material-icons prefix">event</i>
                                    <input type="text" name="{{ form.fecha.html_name }}"
                                           id="{{ form.fecha.id_for_label }}" required>
                                    <label for="{{ form.fecha.id_for_label }}">Fecha:</label>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <i class="material-icons prefix">access_time</i>
                                    <input type="text" name="{{ form.hora.html_name }}"
                                           id="{{ form.hora.id_for_label }}" required>
                                    <label for="{{ form.hora.id_for_label }}">Hora:</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m10 offset-m1 ">
                                    <i class="material-icons prefix">comment</i>
                                    <textarea id="{{ form.notas.id_for_label }}" name="{{ form.notas.html_name }}"
                                              class="materialize-textarea"></textarea>
                                    <label for="{{ form.notas.id_for_label }}">Notas:</label>
                                </div>
                            </div>

                            <div class="text-center">
                                <div class="row center">
                                    <a href="{% url 'prospectos:actividades' %}"
                                       class="waves-effect waves-light col s5 offset-s1 m3 offset-m2 btn btn-large light-blue lighten-1">Regresar
                                        <i class="material-icons left">arrow_back</i></a>
                                    <button type="submit"
                                            class="waves-effect waves-light col s5 offset-s1 m3 offset-m2 btn btn-large green lighten-1">
                                        Agregar <i class="material-icons right">done</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}