{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} Interés: {{ relacion.Interes }} {% endblock %}
{% block content %}
    <div class="row">
        {#-------------------------PROSPECTO---------------#}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img class="activator" src="{% static 'img/loginImg.jpg' %}" alt="">
                    <a class="btn-floating halfway-fab waves-effect waves-light red" href="{% url 'prospectos:editar_prospecto' prospecto.id %}"><i class="material-icons">edit</i></a>
                </div>
                <div class="card-content">
                        <span class="card-title activator">{{ relacion.Prospecto.Nombre }} {{ relacion.Prospecto.Apellidos }}</span>
                </div>
                <div class="card-reveal">
                    <div class="row">
                        <span class="card-title grey-text text-darken-4">{{ relacion.Prospecto.Nombre }} {{ relacion.Prospecto.Apellidos }}<i class="material-icons right">close</i></span>
                    </div>
                    {#----------------Info-------------#}
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <label>Tel&eacute;fono Celular</label>
                            <a class="whatsapp" onclick="whatsapp({{ relacion.Prospecto.Telefono_Celular }});" href="#">{{ relacion.Prospecto.Telefono_Celular }}</a>
                        </div>
                        <div class="col s12 m4 l4">
                            <label>Tel&eacute;fono Casa</label>
                            {{ relacion.Prospecto.Telefono_Casa }}
                        </div>
                        <div class="col s12 m4 l4">
                            <label>Email</label>
                            <a href="mailto:{{ relacion.Prospecto.Email }}" target="_blank">{{ relacion.Prospecto.Email }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <label>Hijos</label><br>
                            {{ relacion.Prospecto.Hijos }}
                        </div>
                        <div class="col s12 m4 l4">
                            <label>Estado civil</label><br>
                            {{ relacion.Prospecto.Estado_Civil }}
                        </div>
                        <div class="col s12 m4 l4">
                            <label for="ocupacion">Ocupaci&oacute;n</label><br>
                            {{ relacion.Prospecto.Ocupacion }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <label>M&eacute;todo de captaci&oacute;n</label><br>
                            {{ relacion.Prospecto.Metodo_Captacion }}
                        </div>
                        <div class="col s12 m4 l4">
                            <label for="otro">Radio/Recomendacion </label><br>
                            {{ relacion.Prospecto.Recomendacion }}
                        </div>
                    </div>

                    {#----------------Direccion-------------#}

                    <div class="row">
                        <span class=" grey-text text-darken-4" >Direcci&oacute;n</span>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <label>Pa&iacute;s</label><br>
                            {{ relacion.Prospecto.Direccion.Pais }}
                        </div>
                        <div class="col s12 m4 l4">
                            <label>Estado</label><br>
                            {{ relacion.Prospecto.Direccion.Estado }}
                        </div>
                        <div class="col s12 m4 l4">
                            <label>Ciudad</label><br>
                            {{ relacion.Prospecto.Direccion.Ciudad }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="colonia">Colonia</label><br>
                            {{ relacion.Prospecto.Direccion.Colonia }}
                        </div>
                        <div class="col s12 m6">
                            <label for="calle">Calle</label><br>
                            {{ relacion.Prospecto.Direccion.Calle }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m4">
                            <label for="num_ext">N&uacute;mero exterior</label><br>
                            {{ relacion.Prospecto.Direccion.Numero_Exterior }}
                        </div>
                        <div class="col s6 m4">
                            <label for="num_int" data-error="Use valores num&eacute;ricos">N&uacute;mero interior</label><br>
                            {{ relacion.Prospecto.Direccion.Numero_Interior }}
                        </div>
                        <div class="col s12 m4">
                            <label for="codigo_p" data-error="Use valores num&eacute;ricos">C&oacute;digo postal</label><br>
                            {{ relacion.Prospecto.Direccion.Codigo_Postal }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#-----------------------CURSO-------------------------------------------------#}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img class="activator" src="{% static 'img/loginImg.jpg' %}" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title activator">{{ relacion.Curso.Nombre }} - {{ relacion.Curso.Evento.Nombre }}</span>
                </div>
                <div class="card-reveal">
                    <div class="row">
                        <span class="card-title grey-text text-darken-4">{{ relacion.Curso.Nombre }} - {{ relacion.Curso.Evento.Nombre }}<i class="material-icons right">close</i></span>
                    </div>
                    {#                    ----------------Info-------------#}
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="Nombre">Fecha de inicio:</label><br>
                            {{ relacion.Curso.Fecha_Inicio }}
                        </div>
                        <div class="col s12 m6">
                            <label for="apellido_p">Fecha de término:</label><br>
                            {{ relacion.Curso.Fecha_Fin }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <label>Costo:</label><br>
                            ${{ relacion.Curso.Costo }}.°°
                        </div>
                        <div class="col s12 m4 l4">
                            <label for="ocupacion">Encargado:</label><br>
                            {{ relacion.Curso.Encargado }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <label>Dirección</label><br>
                            {{ relacion.Curso.Direccion }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ul id="tabs" class="tabs">
        <li class="tab col s4 offset-s1"><a href="#agenda" class="active">Agenda</a></li>
        <li class="tab col s5 offset-s1"><a href="#bitacora">Bitácora</a></li>
    </ul>

    {#------------------------Agenda ----------------------------#}
    <div id="agenda" class="col s12">
        <div class="">
            <div class="row">
            </div>
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Curso</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Notas</th>
                    <th>Terminado</th>
                </tr>
                </thead>
                <tbody>
                {% for actividad in agenda %}
                    <tr>
                        <td>{{ actividad.titulo }}</td>
                        <td>{{ actividad.prospecto_evento.Curso.Nombre }}</td>
                        <td>{{ actividad.fecha }}</td>
                        <td>{{ actividad.hora }}</td> <!--|time:'h i A'}}-->
                        <td class="'truncate elipsis">
                            <a class="modal-trigger" id="notas{{ actividad.pk }}" href="#modal{{ actividad.pk }}">{{ actividad.notas }}</a>
                        </td>
                        <td>
                            <a href="{% url 'prospectos:estado_actividad' actividad.id %}"><i class="material-icons">check</i></a>
                        </td>
                    </tr>
                    <!-- Modal Structure -->
                    <div id="modal{{ actividad.pk }}" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Notas</h4>
                            <p>{{ actividad.notas }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
                        </div>
                    </div>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {#------------------- Bitacora------------------#}
    <div id="bitacora" class="col s12">
        <div class="">
            <div class="row">
            </div>
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Curso</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Notas</th>
                    <th>Terminado</th>
                </tr>
                </thead>
                <tbody>
                {% for actividad in bitacora %}
                    <tr>
                        <td>{{ actividad.titulo }}</td>
                        <td>{{ actividad.prospecto_evento.Curso.Nombre }}</td>
                        <td>{{ actividad.fecha }}</td>
                        <td>{{ actividad.hora }}</td> <!--|time:'h i A'}}-->
                        <td class="'truncate elipsis"><a class="modal-trigger" id="notas{{ actividad.pk }}"
                                                         href="#modal{{ actividad.pk }}">{{ actividad.notas }}</a>
                        </td>
                        <td>
                            <a href="{% url 'prospectos:estado_actividad' actividad.id %}"><i class="material-icons  text-rojo-cadhu">clear</i></a>
                        </td>
                    </tr>
                    <!-- Modal Structure -->
                    <div id="modal{{ actividad.pk }}" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Notas</h4>
                            <p>{{ actividad.notas }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
                        </div>
                    </div>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large orange" href="{% url 'prospectos:crear_actividad' relacion.id %}">
            <i class="large material-icons">note_add</i>
        </a>
        <ul>
            <li><a class="btn-floating blue" href="mailto:{{ relacion.Prospecto.Email }}" target="_blank"><i class="material-icons">email</i></a></li>
            <li><a class="btn-floating green" onclick="whatsapp({{  relacion.Prospecto.Telefono_Celular }});" href="#"><i class="material-icons">sms</i></a></li>
        </ul>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% for actividad in actividades %}
            $("#notas{{ actividad.pk }}").on("click", function () {
                $('#modal{{ actividad.pk }}').modal('open');
            });
        {% endfor %}
    </script>
{% endblock %}