{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

    {% block title %}Asignar Curso a Prospecto{% endblock %}
    {% block content %}
        <div class="card ">
            <div class="card-content">
                <h5 class="center">Registrar Curso</h5>
                <form method="post">
                    {% csrf_token %}
                    <div class="row center">
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoEventoForm.Curso | add_class:'form-control' }}
                            <label for="Curso">Curso</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoEventoForm.Interes | add_class:'form-control' }}
                            <label for="Interes">Interes</label>
                        </div>
                    </div>
                    <div class="row center">
                        <button type="submit" class="btn waves-effect waves-light form_button">Guardar y Agregar Curso</button>
                    </div>
                </form>
            </div>
        </div>


    {% endblock content %}
