{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Editar Curso de Prospecto{% endblock %}
{% block content %}
<div class="card ">
    <div class="card-content">
        <form method="post">
            {% csrf_token %}
            <div class="row center">
                        <div class="input-field col s12 m4 l4">
                            {{ newProspectoEventoForm.Interes | add_class:'form-control' }}
                            <label for="Interes">Interes</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ newProspectoEventoForm.FlagCADHU | add_class:'form-control' }}
                            <label for="Interes">Flag</label>
                        </div>
                    </div>
                    <div class="row center">
                        <button type="submit" class="btn waves-effect waves-light form_button">Guardar y Agregar Curso</button>
                    </div>
                </form>
        </form>
    </div>
</div>
{% endblock %}