{% extends 'base.html' %}
{% load grupos %}
{% load static %}


{% block content %}

{% if request.user|has_group:"administrador"%}

  <div>
    <img id="logo-admin" src="{% static 'img/logo_cadhu.png'%}"/>
  </div>

{% endif %}

{% if request.user|has_group:"vendedora"%}

<ul id="tabs" class="tabs pendientes">
    <li class="tab col s6"><a href="#pendientes" class="active">Pendientes</a></li>
    <li class="tab col s6"><a href="#terminadas">Terminadas</a></li>
</ul>

  <div id="pendientes" class="col s12">
    <table class="dataTable">
        <thead>
          <tr>
              <th>Pendiente</th>
              <th>Curso</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Notas</th>
              <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% for actividad in agenda %}
            <tr>
                <td>{{ actividad.titulo }}</td>
                <td>{{ actividad.prospecto_evento.Grupo.nombre }}</td>
                <td>{{ actividad.fecha }}</td>
                <td>{{ actividad.hora }}</td>
                <td class="'truncate elipsis">
                    <a class="modal-trigger" id="notas{{ actividad.pk }}" href="#modal{{ actividad.pk }}">{{ actividad.notas }}</a>
                </td>
                <td class="center">
                    <a  class="tooltipped" data-position="right" data-delay="50" data-tooltip="Terminar" href="{% url 'prospectos:estado_actividad' actividad.id %}"><i class="material-icons done-icon text-blue-cadhu">radio_button_unchecked</i></a>
                </td>
            </tr>
            <!-- Modal Structure -->
            <div id="modal{{ actividad.pk }}" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Notas</h4>
                    <p>{{ actividad.notas }}</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
  </div>

  <div id="terminadas" class="col s12">
    <table class="dataTable">
        <thead>
          <tr>
            <th>Pendiente</th>
            <th>Curso</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Notas</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% for actividad in bitacora %}
          <tr>
              <td>{{ actividad.titulo }}</td>
              <td>{{ actividad.prospecto_evento.Grupo.Nombre }}</td>
              <td>{{ actividad.fecha }}</td>
              <td>{{ actividad.hora }}</td>
              <td class="'truncate elipsis">
                  <a class="modal-trigger" id="notas{{ actividad.pk }}" href="#modal{{ actividad.pk }}">{{ actividad.notas }}</a>
              </td>
              <td class="center">
                  <a  class="tooltipped" data-position="right" data-delay="50" data-tooltip="Marcar pendiente" href="{% url 'prospectos:estado_actividad' actividad.id %}"><i class="material-icons done-icon text-blue-cadhu">radio_button_checked</i></a>
              </td>
          </tr>
          <!-- Modal Structure -->
          <div id="modal{{ actividad.pk }}" class="modal modal-fixed-footer">
              <div class="modal-content">
                  <h4>Notas</h4>
                  <p>{{ actividad.notas }}</p>
              </div>
              <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
              </div>
          </div>
        {% endfor %}
        </tbody>
    </table>
  </div>

{% endif %}

{% endblock %}
