.no-margin{margin: 0;}
.no-padding{padding: 0;}

.rounded-button{
  border-radius: 50px;
}

.cadhu-blue-text{color: rgba(12,93,149,1);}

.cadhu-green{background-color: #1D874A;}

.headerTitle{
  position: fixed;
}

.form_button{
  border-radius: 50px;
  background-color: #1D874A;
}

.form_button:hover{
  background-color: rgba(12,93,149,1);
}

.back_button{
  border-radius: 50px;
  background-color: rgba(12,93,149,1);
}

.back_button:hover{
  background-color: #1D874A;
}

.under-shadow{
  -webkit-box-shadow: 0 8px 10px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 8px 10px -1px rgba(0,0,0,0.1);
  box-shadow: 0 8px 10px -1px rgba(0,0,0,0.1);
}

.padding-top-20 {
  padding-top: 20px;
}

.light-text {
  font-weight: 300;
}

.bold-text {
  font-weight: 700;
}

.done-icon{
  -moz-transition: text-shadow 0.5s, color 0.5s;
  -o-transition: text-shadow 0.5s, color 0.5s;
  -webkit-transition: text-shadow 0.5s, color 0.5s;
  transition: text-shadow 0.5s, color 0.5s;
}

.done-icon:hover{
  color: #483683;
  text-shadow: 0px 0px 14px rgba(150, 150, 150, 1);
}

/*BASE*/
body {
  /* padding-top: 60px; */
  font-family: 'Lato', sans-serif;
  background-color: #eee;
}
main {
  overflow: hidden;
}

#logo-nav {
  height: 30px;
  margin-top: 15px
}

.headerTitle{
  position: relative;
  top: -12px;
}

.headerTitle h4{
  font-size: 1.7em;
  color: #5f5f5f;
  top: -5px;
  position: absolute;
}

#collapse-nav, #logout{
  position: absolute;
  float: left;
}
#collapse-nav a i, #logout a i{
  color: #206082;
}

#collapse-nav{
  left: 30px;
}

#logout {
  right: 350px;
}

#logo-admin {
  padding-top: 30%;
  margin: auto;
  display: block;
  opacity: 0.5;
  width: 57%;
}




/*SIDENAV*/
header, main, footer{padding-left: 300px;}


.white-bar {
  height: 64px;
  background-color: white;
}

.sidenav {
  box-shadow: inset -7px 0 20px -8px rgba(0,0,0,0.5);
}

.profile-image {
  width: 50px;
  border-radius: 50px;
}

.left-content {
  float: left;
  margin-left: 30px;
  width: 20%;
}

.right-content {
  color: white;
  line-height: 15px;
}

.sideNavView {background-color:#206082}
.sideNavView  .light-text{font-weight:300}
.sideNavView .user-view .background img{width:100%}
.sideNavView li a{color:white;font-weight:400}
#sideNavView li i{color:white}
.sideNavView .navLogo{position:fixed;bottom:15%;left:25%}

.profile_button{background-color: #1D874A; border-radius: 50px;}

/*TEXT COLORS*/

.text-blue-cadhu{color: #236093;}
.text-blue-ligero{color: #4b769e;}
.text-rojo-cadhu{color: #DD3030;}

/*DATA TABLES */

table th {
    background-color: #266080;
    color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a:hover {
    color: black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: white;
    color: black;
    border-radius: 50px;
    border: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: white;
    border-radius: 50px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button .disabled {
    background: white;
    border-radius: 50px;
}

.dt-button.buttons-html5, .dt-button.buttons-collection.buttons-colvis{
  border-radius: 25px;
  background-image: none;
  background-color: white;
}

.elipsis{
    max-width: 25vw;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*Estilos para color de las tabs */

.tabs .indicator {
    background-color: #4b769e;
}

.tabs .tab a.active {
  color: #003366;
}

.tabs .tab a:hover {
  color: #447e9b;
}

.tabs .tab a {
  color: #3875d7;
}

.pendientes{
  background-color: #eeeeee;
  margin-bottom: 50px;
}

/*MEDIA QUERIES*/


@media only screen and (max-width: 993px) {
  header, main, footer{padding-left: 0;}
  #logout {
    right: 30px;
  }
}

@media only screen and (max-width: 600px) {
}
