.no-margin{margin: 0;}
.no-padding{padding: 0;}

.rounded-button{
  border-radius: 50px;
}

.cadhu-blue-text{color: rgba(12,93,149,1);}

.cadhu-green{background-color: #1D874A;}

.headerTitle{
  height: 100px;
  background-color: #999;
  color: white;
}

.form_button{
  border-radius: 50px;
  background-color: #1D874A;
}

.form_button:hover{
  background-color: rgba(12,93,149,1);
}

/*SIDENAV*/
header, main, footer{padding-left: 300px; background-color: #eee}

#sideNavView {background-color:#236093}
#sideNavView  .light-text{font-weight:300}
#sideNavView .user-view .background img{width:100%}
#sideNavView li a{color:white;font-weight:400}
#sideNavView li i{color:white}
#sideNavView .navLogo{position:fixed;bottom:15%;left:25%}

.profile_button{background-color: #1D874A; border-radius: 50px;}

/*TEXT COLORS*/

.text_blue_cadhu{color: #236093;}

/*MEDIA QUERIES*/


@media only screen and (max-width: 993px) {
  header, main, footer{padding-left: 0;}
}

@media only screen and (max-width: 600px) {
}
