{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Clientes{% endblock %}
{% block content %}

    <table class="dataTable">
        <thead>
        <tr>
            <th class="center">Matricula</th>
            <th class="center">RFC</th>
            <th class="center">Razón Social</th>
            <th class="center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{% url 'prospectos:info_cliente' cliente.id %}">{{ cliente.matricula }}</a></td>
                <td><a href="{% url 'prospectos:info_cliente' cliente.id %}">{{ cliente.rfc }}</a></td>
                <td><a href="{% url 'prospectos:info_cliente' cliente.id %}">{{ cliente.razon_social }}</a></td>
                <td class="center">
                    <a href="{% url 'prospectos:editar_cliente' cliente.prospecto_grupo.id %}"><i class="material-icons text-blue-ligero">edit</i></a>
                    <a href="{% url 'prospectos:eliminar_cliente' cliente.id %}" onclick="eliminar_cliente(this, event)"><i class="material-icons text-rojo-cadhu">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js %}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js'></script>

    <script>

        function eliminar_cliente(element, event){
            event.preventDefault();
            $.confirm({
                title: '¿Deseas eliminar el cliente?',
                content: 'No podrá ser utilizado en un futuro.',
                type: 'red',
                closeIcon: true,
                columnClass: 'col l6 offset-l3 s12',
                typeAnimated: true,
                buttons: {
                    continuar: {
                        text: 'Eliminar',
                        btnClass: 'btn-red',

                        action: function(){
                            window.location.href = $(element).attr("href");
                        }
                    }
                }
            });
        }

        {% if messages %}
            {%for message in messages %}
                {% if message.level == 40 %}
                    var mensaje = '<span>{{message}}</span><a href="/media/resultado.xls" class="btn-flat toast-action">Resultados</a>';
                    M.toast({html: mensaje, displayLength: 60000})
                {% endif %}
            {% endfor %}
        {% endif %}

    </script>
{% endblock %}
