{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} Prospecto: {{ prospecto.nombre }} {{ prospecto.apellidos }} {% endblock %}
{% block content %}


    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons left">person</i> {{ prospecto.nombre }} {{ prospecto.apellidos }}</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="col s12 m4 l4">
                                        <label>Email</label>
                                        {{ prospecto.email }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>Celular</label>
                                        {{ prospecto.telefono_celular }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>Casa</label>
                                        {{ prospecto.telefono_casa }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m4 l4">
                                        <label for="ocupacion">Ocupaci&oacute;n</label>
                                        {{ prospecto.ocupacion }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>M&eacute;todo de captaci&oacute;n</label>
                                        {{ prospecto.metodo_captacion }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label for="otro">Radio/Recomendacion </label>
                                        {{ prospecto.recomendacion }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m4 l4">
                                        <label>Estado civil</label>
                                        {{ prospecto.estado_civil }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>Hijos</label>
                                        {{ prospecto.hijos }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons left">location_on</i>Dirección</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="col s12 m4 l4">
                                        <label>Pa&iacute;s</label>
                                        {{ prospecto.direccion.pais }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>Estado</label>
                                        {{ prospecto.direccion.estado }}
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <label>Ciudad</label>
                                        {{ prospecto.direccion.ciudad }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m4">
                                        <label for="colonia">Colonia</label>
                                        {{ prospecto.direccion.colonia }}
                                    </div>
                                    <div class="col s12 m4">
                                        <label for="calle">Calle</label>
                                        {{ prospecto.direccion.calle }}
                                    </div>
                                    <div class="col s12 m4">
                                        <label for="codigo_p" data-error="Use valores num&eacute;ricos">C&oacute;digo postal</label>
                                        {{ prospecto.direccion.codigo_postal }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 m4">
                                        <label for="num_ext">Exterior</label>
                                        {{ prospecto.direccion.numero_exterior }}
                                    </div>
                                    <div class="col s6 m4">
                                        <label for="num_int" data-error="Use valores num&eacute;ricos">Interior</label>
                                        {{ prospecto.direccion.numero_interior }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% if prospecto.comentarios %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons left">reorder</i>Comentarios</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    {{ prospecto.comentarios|linebreaks }}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <ul id="tabs" class="tabs pendientes">
        <li class="tab col s4"><a href="#grupos">Grupos</a></li>
        <li class="tab col s4"><a href="#agenda" class="active">Agenda</a></li>
        <li class="tab col s4"><a href="#bitacora">Bitácora</a></li>
    </ul>

    <div id="grupos" class="col s12">
        <div class="row">
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light form_button modal-trigger tooltipped" href="#modalCursos" data-position="left" data-delay="50" data-tooltip="Agregar Grupo">
                <i class="large material-icons">add</i>
            </a>
        </div>
        <table class="dataTable">
            <thead>
            <tr>
                <th>Grupo</th>
                <th>Interes</th>
                <th>Fecha de Registro</th>
                <th>Flag</th>
                <th>Acciones</th>
                <th>Pagos</th>
            </tr>
            </thead>
            <tbody>
            {% for prospecto_grupo in grupos %}
                <tr>
                    <td><a href="{% url 'prospectos:info_prospecto_grupo' prospecto_grupo.pk %}">{{ prospecto_grupo.grupo }}</a></td>
                    <td>{{ prospecto_grupo.interes }}</td>
                    <td>{{ prospecto_grupo.fecha }}</td>
                    {% if prospecto_grupo.flag_cadhu %}
                        <td><a><i class="material-icons grey-text text-lighten-1">flag</i></a></td>
                    {% else %}
                        <td><a><i class="material-icons text-rojo-cadhu">flag</i></a></td>
                    {% endif %}
                    <td>
                        <a href="{% url 'prospectos:info_prospecto_grupo' prospecto_grupo.id %}"><i class="material-icons">info</i></a>
                        <a href="{% url 'prospectos:editar_grupo' prospecto_grupo.id %}"><i class="material-icons text-blue-ligero">edit</i></a>
                        <a href="{% url 'prospectos:eliminar_grupo' prospecto_grupo.id %}"><i class="material-icons text-rojo-cadhu">delete</i></a>
                    </td>
                    <td class="center">

                        {% if prospecto_grupo.grupo.activo %}
                            <a href="{% url 'prospectos:lista_pagos' prospecto_grupo.id %}"  class="btn waves-effect waves-light form_button">+ Pago</a>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {#    --------------------------Modal Agregar Grupo ------------------#}
    <div id="modalCursos" class="modal">
        <div class="modal-content" style="padding: 40px">
            <h5 class="center">Registrar Grupo</h5>
            <br/><br />
            <form method="post">
                {% csrf_token %}
                <div class="row center">
                    <div class="col s12">
                        <div class="input-field col l8 offset-l2 s12">
                            {{ new_prospecto_grupo_form.grupo | add_class:'form-control' }}
                            <label for="Grupo">Grupo</label>
                        </div>
                        <div class="input-field col l8 offset-l2 s12">
                            {{ new_prospecto_grupo_form.interes | add_class:'form-control' }}
                            <label for="Interes">Interes</label>
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <button type="submit" class="btn waves-effect waves-light form_button">Guardar y Agregar Grupo</button>
                </div>
            </form>
        </div>
    </div>
    {#------------------------Agenda ----------------------------#}
    <div id="agenda" class="col s12">
        <div class="">
            <div class="row">
            </div>
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Grupo</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Notas</th>
                    <th>Terminado</th>
                </tr>
                </thead>
                <tbody>
                {% for actividad in agenda %}
                    <tr>
                        <td>{{ actividad.titulo }}</td>
                        <td>{{ actividad.prospecto_grupo.grupo.nombre }}</td>
                        <td>{{ actividad.fecha }}</td>
                        <td>{{ actividad.hora }}</td> <!--|time:'h i A'}}-->
                        <td class="'truncate elipsis">
                            <a class="modal-trigger" id="notas{{ actividad.pk }}" href="#modal{{ actividad.pk }}">{{ actividad.notas }}</a>
                        </td>
                        <td>
                            <a href="{% url 'prospectos:estado_actividad' actividad.id %}"><i class="material-icons text-blue-cadhu">radio_button_unchecked</i></a>
                        </td>
                    </tr>
                    <!-- Modal Structure -->
                    <div id="modal{{ actividad.pk }}" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Notas</h4>
                            <p>{{ actividad.notas|linebreaks}}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
                        </div>
                    </div>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {#------------------- Bitacora------------------#}
    <div id="bitacora" class="col s12">
        <div class="">
            <div class="row">
            </div>
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Grupo</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Notas</th>
                    <th>Terminado</th>
                </tr>
                </thead>
                <tbody>
                {% for actividad in bitacora %}
                    <tr>
                        <td>{{ actividad.titulo }}</td>
                        <td>{{ actividad.prospecto_grupo.grupo.nombre }}</td>
                        <td>{{ actividad.fecha }}</td>
                        <td>{{ actividad.hora }}</td> <!--|time:'h i A'}}-->
                        <td class="'truncate elipsis"><a class="modal-trigger" id="notas{{ actividad.pk }}"
                                                         href="#modal{{ actividad.pk }}">{{ actividad.notas }}</a>
                        </td>
                        <td>
                            <a href="{% url 'prospectos:estado_actividad' actividad.id %}"><i class="material-icons  text-blue-cadhu">radio_button_checked</i></a>
                        </td>
                    </tr>
                    <!-- Modal Structure -->
                    <div id="modal{{ actividad.pk }}" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Notas</h4>
                            <p>{{ actividad.notas|linebreaks }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
                        </div>
                    </div>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% for actividad in actividades %}
            $("#notas{{ actividad.pk }}").on("click", function () {
                $('#modal{{ actividad.pk }}').modal('open');
            });
        {% endfor %}
    </script>
{% endblock %}
