{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} Prospecto: {{ prospecto.Nombre }} {{ prospecto.Apellidos }} {% endblock %}
{% block content %}

    <div class="row">
        <div class="col s12">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <div class="col l4 s12 center">
                  <i class="material-icons left">person</i>
                  {{ prospecto.nombre }} {{ prospecto.apellidos }}
                </div>
                <div class="col l4 s12 center">
                  <i class="material-icons left">contact_mail</i>
                  {{ prospecto.Email }}
                </div>
                <div class="col l4 s12 center">
                  <i class="material-icons left">contact_phone</i>
                  {{ prospecto.Telefono_Celular }}
                </div>

              </div>
              <div class="collapsible-body">
                <span>
                  {#----------------Info-------------#}
                  <div class="row">
                      <span class=" grey-text text-darken-4" >Información personal</span>
                  </div>
                  <div class="row">
                      <div class="col s12 m4 l4">
                          <label>Tel&eacute;fono Casa</label>
                          {{ prospecto.telefono_casa }}
                      </div>
                      <div class="col s12 m4 l4">
                          <label for="ocupacion">Ocupaci&oacute;n</label>
                          {{ prospecto.ocupacion }}
                      </div>
                      <div class="col s12 m4 l4">
                          <label>M&eacute;todo de captaci&oacute;n</label>
                          {{ prospecto.metodo_captacion }}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12 m4 l4">
                          <label for="otro">Radio/Recomendacion </label>
                          {{ prospecto.recomendacion }}
                      </div>
                      <div class="col s12 m4 l4">
                          <label>Estado civil</label>
                          {{ prospecto.estado_civil }}
                      </div>
                      <div class="col s12 m4 l4">
                          <label>Hijos</label>
                          {{ prospecto.hijos }}
                      </div>
                  </div>




                  {#----------------Direccion-------------#}
                  <div class="row">
                      <div class="col s12">
                          <label>Dirección</label>
                          {% if not prospecto.direccion.numero_interior %}
                            {{ prospecto.direccion.calle }} #{{ prospecto.direccion.numero_exterior }}, {{ prospecto.direccion.Colonia }},
                            {{ prospecto.direccion.ciudad }}, {{ prospecto.direccion.estado }}, {{ prospecto.direccion.pais }}. C.P: {{ prospecto.direccion.codigo_postal }}
                          {% else %}
                            {{ prospecto.direccion.calle }} #{{ prospecto.direccion.numero_exterior }} Int( {{ prospecto.direccion.numero_interior }} ), {{ prospecto.direccion.colonia }},
                            {{ prospecto.direccion.ciudad }}, {{ prospecto.direccion.estado }}, {{ prospecto.direccion.pais }}. C.P: {{ prospecto.direccion.codigo_postal }}
                          {% endif %}


                      </div>

                  </div>

                  {#----------------Comentarios-------------#}
                  <div class="row">
                      <span class=" grey-text text-darken-4" >Comentarios</span>
                  </div>
                  <div class="row">
                      <div class="col s12 m4 l4">
                          {{ prospecto.comentarios }}
                      </div>
                  </div>
                </span>
              </div>
            </li>
          </ul>
        </div>
    </div>


    <ul id="tabs" class="tabs">
        <li class="tab col s4"><a href="#cursos">Grupos</a></li>
        <li class="tab col s4"><a href="#agenda" class="active">Agenda</a></li>
        <li class="tab col s4"><a href="#bitacora">Bitácora</a></li>
    </ul>


    <div id="cursos" class="col s12">
        <div class="row">
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light form_button modal-trigger tooltipped" href="#modalCursos" data-position="left" data-delay="50" data-tooltip="Agregar Grupo">
                <i class="large material-icons">add</i>
            </a>
        </div>
        <table class="dataTable">
            <thead>
            <tr>
                <th>Grupo</th>
                <th>Interes</th>
                <th>Fecha de Registro</th>
                <th>Flag</th>
                <th>Acciones</th>
                <th>Pagos</th>
            </tr>
            </thead>
            <tbody>
            {% for prospecto_evento in cursos %}
                <tr>
                    <td><a href="{% url 'prospectos:info_prospecto_curso' prospecto_evento.pk %}">{{ prospecto_evento.Curso }}</a></td>
                    <td>{{ prospecto_evento.Interes }}</td>
                    <td>{{ prospecto_evento.Fecha }}</td>
                    {% if prospecto_evento.FlagCADHU == True %}
                        <td><a><i class="material-icons grey-text text-lighten-1">flag</i></a></td>
                    {% else %}
                        <td><a><i class="material-icons text-rojo-cadhu">flag</i></a></td>
                    {% endif %}
                    <td>
                        <a href="{% url 'prospectos:info_prospecto_curso' prospecto_evento.id %}"><i class="material-icons">info</i></a>
                        <a href="{% url 'prospectos:editar_curso' prospecto_evento.id %}"><i class="material-icons text-blue-ligero">edit</i></a>
                        <a href="{% url 'prospectos:eliminar_curso' prospecto_evento.id %}"><i class="material-icons text-rojo-cadhu">delete</i></a>
                    </td>
                    <td class="center">

                      {% if prospecto_evento.Curso.Activo %}
                        <a href="{% url 'prospectos:lista_pagos' prospecto_evento.id %}"  class="btn waves-effect waves-light form_button">+ Pago</a>
                      {% else %}
                        <p>-</p>
                      {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {#    --------------------------Modal Agregar Grupo ------------------#}
    <div id="modalCursos" class="modal">
        <div class="modal-content" style="padding: 40px">
            <h5 class="center">Registrar Grupo</h5>
            <br/><br />
            <form method="post">
                {% csrf_token %}
                <div class="row center">
                    <div class="col s12">
                        <div class="input-field col l8 offset-l2 s12">
                            {{ newProspectoEventoForm.Curso | add_class:'form-control' }}
                            <label for="Curso">Curso</label>
                        </div>
                        <div class="input-field col l8 offset-l2 s12">
                            {{ newProspectoEventoForm.Interes | add_class:'form-control' }}
                            <label for="Interes">Interes</label>
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <button type="submit" class="btn waves-effect waves-light form_button">Guardar y Agregar Grupo</button>
                </div>
            </form>
        </div>
    </div>
    {#------------------------Agenda ----------------------------#}
    <div id="agenda" class="col s12">
        <div class="">
            <div class="row">
            </div>
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Curso</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Notas</th>
                    <th>Terminado</th>
                </tr>
                </thead>
                <tbody>
                {% for actividad in agenda %}
                    <tr>
                        <td>{{ actividad.titulo }}</td>
                        <td>{{ actividad.prospecto_evento.Curso.Nombre }}</td>
                        <td>{{ actividad.fecha }}</td>
                        <td>{{ actividad.hora }}</td> <!--|time:'h i A'}}-->
                        <td class="'truncate elipsis">
                            <a class="modal-trigger" id="notas{{ actividad.pk }}" href="#modal{{ actividad.pk }}">{{ actividad.notas }}</a>
                        </td>
                        <td>
                            <a href="{% url 'prospectos:estado_actividad' actividad.id %}"><i class="material-icons text-blue-cadhu">radio_button_unchecked</i></a>
                        </td>
                    </tr>
                    <!-- Modal Structure -->
                    <div id="modal{{ actividad.pk }}" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Notas</h4>
                            <p>{{ actividad.notas }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
                        </div>
                    </div>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {#------------------- Bitacora------------------#}
    <div id="bitacora" class="col s12">
        <div class="">
            <div class="row">
            </div>
            <table class="dataTable">
                <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Curso</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Notas</th>
                    <th>Terminado</th>
                </tr>
                </thead>
                <tbody>
                {% for actividad in bitacora %}
                    <tr>
                        <td>{{ actividad.titulo }}</td>
                        <td>{{ actividad.prospecto_evento.Curso.Nombre }}</td>
                        <td>{{ actividad.fecha }}</td>
                        <td>{{ actividad.hora }}</td> <!--|time:'h i A'}}-->
                        <td class="'truncate elipsis"><a class="modal-trigger" id="notas{{ actividad.pk }}"
                                                         href="#modal{{ actividad.pk }}">{{ actividad.notas }}</a>
                        </td>
                        <td>
                            <a href="{% url 'prospectos:estado_actividad' actividad.id %}"><i class="material-icons  text-blue-cadhu">radio_button_checked</i></a>
                        </td>
                    </tr>
                    <!-- Modal Structure -->
                    <div id="modal{{ actividad.pk }}" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Notas</h4>
                            <p>{{ actividad.notas }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
                        </div>
                    </div>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% for actividad in actividades %}
            $("#notas{{ actividad.pk }}").on("click", function () {
                $('#modal{{ actividad.pk }}').modal('open');
            });
        {% endfor %}
    </script>
{% endblock %}
