{% extends "base.html" %}
{% load staticfiles %}

    {% block title %}Prospectos{% endblock %}
      {% block content %}
          <div class="fixed-action-btn">
            <a href="{% url 'prospectos:crear_prospecto' %}" class="btn-floating btn-large orange">
              <i class="large material-icons">add</i>
            </a>
            <ul>
                <li><a class="btn-floating blue" href="{% static 'files/TemplateCargaMasiva.xlsx'%}"><i class="material-icons">get_app</i></a></li>
                <li><a class="btn-floating green modal-trigger" href="#modalCarga"><i class="material-icons">publish</i></a></li>
            </ul>
          </div>

            <table class="dataTable">
                <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Apellidos</th>
                      <th>WhatsApp</th>
                      <th>Email</th>
                      <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                {% for prospecto in prospectos   %}
                    <tr>
                        <td><a href="{% url 'prospectos:info_prospecto' prospecto.id %}">{{ prospecto.Nombre }}</a></td>
                        <td><a href="{% url 'prospectos:info_prospecto' prospecto.id %}">{{ prospecto.Apellidos }}</a></td>
                        <td><a class="whatsapp" onclick="whatsapp({{ prospecto.Telefono_Celular }});" href="#">{{ prospecto.Telefono_Celular }}</a></td>
                        <td><a href="mailto:{{ prospecto.Email }}">{{ prospecto.Email }}</a></td>
                        <td>
                          <a href="{% url 'prospectos:editar_prospecto' prospecto.id %}"><i class="material-icons text-blue-ligero">edit</i></a>
                          <a href="{% url 'prospectos:baja_prospecto' prospecto.id %}" onclick="cambiar_estatusProspecto(this, event)"><i class="material-icons text-rojo-cadhu">delete</i></a>
                          <a href="{% url 'prospectos:registrar_cursos' prospecto.id %}"><i class="material-icons text-blue-ligero">person</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if titulo == 'Prospectos' %}
                <div class="row center">
                    <a href="{% url 'prospectos:lista_prospectos_inactivo' %}" class="btn waves-effect waves-light green darken-1">Activos</a>
                </div>
            {% endif %}
            {% if titulo == 'Prospectos inactivos' %}
                <div class="row center">
                    <a href="{% url 'prospectos:lista_prospectos' %}" class="btn waves-effect waves-light amber darken-1">Inactivos</a>
                </div>
            {% endif %}
          <!-- Modal Structure -->
          <div id="modalCarga" class="modal modal-fixed-footer">
              <div class="modal-content">
                  <h4>Carga masiva</h4>
                  <div class=" row valign-wrapper">
                      <div class="col s12">
                          <form method="post" class="s12" action="{% url 'prospectos:carga' %}"
                                enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="file-field input-field">
                                  <div class="btn">
                                      <span>Seleccionar</span>
                                      <input type="file" name="archivo" id="archivo" accept="text/csv" required>
                                  </div>
                                  <div class="file-path-wrapper valign-wrapper">
                                      <input class="file-path validate" type="text" accept="text/csv" required>
                                  </div>
                              </div>
                              <div class="row valign-wrapper">
                                  <div class="col s12 center">
                                      <button type="submit" class="btn waves-effect waves-light form_button" href="#!">
                                          Subir
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="row valign-wrapper">
                      <ol>
                          <li>Descargar el <a href="{% static 'files/TemplateCargaMasiva.xlsx' %}">template de carga masiva</a> y llenar con la información que se quiere cargar.</li>
                          <li><h6 class="text-rojo-cadhu">VERIFICAR QUE LA INFORMACIÓN SEA CORRECTA</h6></li>
                          <li>Guardar el template como archivo de CSV. (Guardar como -> Tipo de archivo -> .csv)</li>
                          <li>Subir el archivo al sistema.</li>
                      </ol>
                  </div>
              </div>
              <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
              </div>
          </div>

      {% endblock %}

      {% block js %}

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js'></script>

      <script>

            function cambiar_estatusProspecto(element, event){
              event.preventDefault();
              $.confirm({
                title: '¿Deseas cambiar el estatus del prospecto?',
                content: 'Se inactiva el prospecto.',
                {% if titulo == 'Prospectos' %}
                    type: 'red',
                {% endif %}
                {% if titulo == 'Prospectos inactivos' %}
                    type: 'green',
                {% endif %}
                closeIcon: true,
                columnClass: 'col l6 offset-l3 s12',
                typeAnimated: true,
                buttons: {
                  continuar: {
                      {% if titulo == 'Prospectos' %}
                        text: 'Inactivar',
                        btnClass: 'btn-red',
                      {% endif %}
                      {% if titulo == 'Prospectos inactivos' %}
                        text: 'Activar',
                        btnClass: 'btn-green',
                      {% endif %}

                    action: function(){
                      window.location.href = $(element).attr("href");
                    }
                  }
                }
              });
            }


            {% if messages %}
              {%for message in messages %}
                  {% if message.level == 40 %}
                      var mensaje = '<span>{{message}}</span><a href="/media/resultado.xls" class="btn-flat toast-action">Resultados</a>';
                      M.toast({html: mensaje, displayLength: 60000})
                  {% endif %}
              {% endfor %}
            {% endif %}

      </script>
      {% endblock %}
