{% extends "base.html" %}
{% load staticfiles %}

    {% block title %}Prospectos{% endblock %}
      {% block content %}
          <div class="fixed-action-btn">
            <a class="btn-floating btn-large orange">
              <i class="large material-icons">add</i>
            </a>
            <ul>
              <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            </ul>
          </div>

            <table class="dataTable">
                <thead class="table_header">
                  <tr>
                      <th class="table_radius_left">Nombre</th>
                      <th>Paterno</th>
                      <th>Materno</th>
                      <th>WhatsApp</th>
                      <th>Email</th>
                      <th class="table_radius_right">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                {% for prospecto in prospectos   %}
                    <tr>
                        <td>{{ prospecto.Nombre }}</td>
                        <td>{{ prospecto.Apellido_Paterno }}</td>
                        <td>{{ prospecto.Apellido_Materno }}</td>
                        <td><a class="whatsapp" onclick="whatsapp({{ prospecto.Telefono_Celular }});" href="#">{{ prospecto.Telefono_Celular }}</a></td>
                        <td><a href="mailto:"{{ prospecto.Email }}"">{{ prospecto.Email }}</a></td>
                        <td>
                          <a href="{% url 'prospectos:editar_prospecto' prospecto.id %}" class="btn-floating blue"><i class="material-icons">edit</i></a>
                          <a class="btn-floating red"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

  {% endblock %}
