{% extends "base.html" %}
{% load staticfiles %}

    {% block title %}Prospectos{% endblock %}
      {% block content %}
          <div class="fixed-action-btn">
            <a href="{% url 'prospectos:crear_prospecto' %}" class="btn-floating btn-large orange">
              <i class="large material-icons">add</i>
            </a>
            <ul>
              <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            </ul>
          </div>

            <table class="dataTable">
                <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Apellidos</th>
                      <th>WhatsApp</th>
                      <th>Email</th>
                      <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                {% for prospecto in prospectos   %}
                    <tr>
                        <td>{{ prospecto.Nombre }}</td>
                        <td>{{ prospecto.Apellidos }}</td>
                        <td><a class="whatsapp" onclick="whatsapp({{ prospecto.Telefono_Celular }});" href="#">{{ prospecto.Telefono_Celular }}</a></td>
                        <td><a href="mailto:"{{ prospecto.Email }}"">{{ prospecto.Email }}</a></td>
                        <td>
                          <a href="{% url 'prospectos:editar_prospecto' prospecto.id %}"><i class="material-icons text-blue-ligero">edit</i></a>
                          <a><i class="material-icons text-rojo-cadhu">delete</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

  {% endblock %}
