{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

    {% block title %}Prospecto{% endblock %}
    {% block content %}

        <!--
            <script type="text/javascript">
            {% if NewProspectoForm.errors %}
                {% for field in NewProspectoForm %}
                    {% for error in field.errors %}
                        M.toast({html: '{{ error|escape }}'})
                    {% endfor %}
                {% endfor %}
                {% for error in NewProspectoForm.non_field_errors %}
                    M.toast({html: '{{ error|escape }}'})
                {% endfor %}
            {% endif %}
            {% if NewLugarForm.errors %}
                {% for field in NewLugarForm %}
                    {% for error in field.errors %}
                        M.toast({html: '{{ error|escape }}'})
                    {% endfor %}
                {% endfor %}
                {% for error in NewLugarForm.non_field_errors %}
                    M.toast({html: '{{ error|escape }}'})
                {% endfor %}
            {% endif %}
            {% if formset.errors %}
                {% for field in formset %}
                    {% for error in field.errors %}
                        M.toast({html: '{{ error|escape }}'})
                    {% endfor %}
                {% endfor %}
                {% for error in formset.non_field_errors %}
                    M.toast({html: '{{ error|escape }}'})
                {% endfor %}
            {% endif %}
            </script>
        -->

        <div class="card ">
            <div class="card-content">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoForm.Nombre | add_class:'form-control' }}
                            <label for="Nombre">Nombre(s)</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoForm.Apellidos | add_class:'form-control' }}
                            <label for="apellido_p">Apellidos</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoForm.Email | add_class:'form-control' }}
                            <label for="email" data-error="Use el formato ejemplo@mail.com">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoForm.Telefono_Celular | add_class:'form-control' }}
                            <label for="telefono" data-error="Use valores num&eacute;ricos">Tel&eacute;fono Celular</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoForm.Telefono_Casa | add_class:'form-control' }}
                            <label for="telefono" data-error="Use valores num&eacute;ricos">Tel&eacute;fono Casa</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoForm.Ocupacion | add_class:'form-control' }}
                            <label for="ocupacion">Ocupaci&oacute;n</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoForm.Metodo_Captacion | add_class:'form-control' }}
                            <label>M&eacute;todo de captaci&oacute;n</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoForm.Recomendacion | add_class:'form-control' }}
                            <label for="otro">Radio/Recomendacion </label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoForm.Estado_Civil | add_class:'form-control' }}
                            <label>Estado civil</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m4 l4">
                            {{ NewProspectoForm.Hijos | add_class:'form-control' }}
                            <label for="hijos" data-error="Use valores num&eacute;ricos">Hijos</label>
                        </div>
                    </div>
                    <div class="row center">
                        <h5>Direcci&oacute;n</h5>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m4 l4">
                            {{ NewLugarForm.Pais | add_class:'form-control' }}
                            <label>Pa&iacute;s</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ NewLugarForm.Estado | add_class:'form-control' }}
                            <label>Estado</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ NewLugarForm.Ciudad | add_class:'form-control' }}
                            <label>Ciudad</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            {{ NewLugarForm.Colonia | add_class:'form-control' }}
                            <label for="colonia">Colonia</label>
                        </div>
                        <div class="input-field col s12 m6">
                            {{ NewLugarForm.Calle | add_class:'form-control' }}
                            <label for="calle">Calle</label>
                        </div>
                        <div class="input-field col s6 m4">
                            {{ NewLugarForm.Numero_Exterior | add_class:'form-control' }}
                            <label for="num_ext" data-error="Use valores num&eacute;ricos">N&uacute;mero exterior</label>
                        </div>
                        <div class="input-field col s6 m4">
                            {{ NewLugarForm.Numero_Interior | add_class:'form-control' }}
                            <label for="num_int" data-error="Use valores num&eacute;ricos">N&uacute;mero interior</label>
                        </div>
                        <div class="input-field col s12 m4">
                            {{ NewLugarForm.Codigo_Postal | add_class:'form-control' }}
                            <label for="codigo_p" data-error="Use valores num&eacute;ricos">C&oacute;digo postal</label>
                        </div>
                    </div>
                    <a class="btn-flat modal-trigger" href="#modal1">Cursos</a>
                    <div class="row center">
                        <h5>Cursos de Interes</h5>
                    </div>

                    <table id="formset_table" border="0" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">Curso</th>
                                <th class="text-center">Interes</th>
                                <th class="text-center">Flag</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for form in formset.forms %}
                            <tr>
                                <td>
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                    {{ form.id | add_class:'form-control' }} {{ form.Curso | add_class:'form-control'}}
                                </td>
                                <td>{{ form.Interes | add_class:'form-control' }}</td>
                                <td>{{ form.FlagCADHU | add_class:'form-control' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ formset.management_form }}                            
                    <br><br>
                    <div class="row center">
                        <button type="submit" class="btn waves-effect waves-light form_button">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

    {% endblock %}

        {% block js %}
            <script type="text/javascript">
            $(function() {
                $('#formset_table tbody tr').formset({
                    addText: 'Agregar Curso',
                    deleteText: 'Eliminar Curso',
                    prefix: '{{ formset.prefix }}',
                });

            })
            </script>
        {% endblock js %}