{% extends "base.html" %}
  {% load staticfiles %}

      {% block title %}Empresas{% endblock %}
        {% block content %}
            <div class="fixed-action-btn">
              <a href="{% url 'prospectos:crear_empresa' %}" class="btn-floating btn-large orange">
                <i class="large material-icons">add</i>
              </a>
            </div>

              <table class="dataTable">
                  <thead>
                    <tr>
                        <th class="border_radius_left">Nombre</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th class="border_radius_right">Raz&oacute;n Social</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for empresa in empresas   %}
                      <tr>
                          <td>{{ empresa.Nombre }}</td>
                          <td><a class="whatsapp" onclick="whatsapp({{ prospecto.Telefono_Celular }});" href="#">{{ empresa.Telefono }}</a></td>
                          <td><a href="mailto:"{{ prospecto.Email }}"">{{ empresa.Email }}</a></td>
                          <td>{{ empresa.Razon_Social }}</td>

                      </tr>
                  {% endfor %}
                  </tbody>
              </table>

    {% endblock %}
