{% extends "base.html" %}
  {% load staticfiles %}
    {% block title %}Prospectos en empresa{% endblock %}
        {% block content %}
                <div class="card ">
                    <div class="card-content">
                      <form method="POST" action="#">
                        {% for prospecto in prospectos %}
                            <p>
                                <label>
                                    <input type="checkbox" value="{% prospecto. %}"/>
                                    <span>{{ prospecto.Nombre }} {{ prospecto.Apellidos }}</span>
                                </label>
                            </p>
                        {% endfor %}
                        <button type="submit" class="btn waves-effect waves-light form_button">Guardar</button>
                      </form>
                    </div>
                </div>
        {% endblock %}
