{% extends "base.html" %}
  {% load staticfiles %}

      {% block title %}Empresas{% endblock %}
        {% block content %}
            <div class="fixed-action-btn">
              <a href="{% url 'prospectos:crear_empresa' %}" class="btn-floating btn-large orange">
                <i class="large material-icons">add</i>
              </a>
            </div>

              <table class="dataTable">
                  <thead>
                    <tr>
                        <th class="border_radius_left">Nombre</th>
                        <th class="border_radius_right">Raz&oacute;n Social</th>
                        <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for empresa in empresas   %}
                      <tr>
                          <td>{{ empresa.Nombre }}</td>
                          <td>{{ empresa.Razon_Social }}</td>
                          <td>
                              <a href="{% url 'prospectos:editar_empresa' empresa.id %}"><i class="material-icons text-blue-ligero">edit</i></a>
                              <a href="{% url 'prospectos:baja_empresas' empresa.id %}" onclick="cambiar_estatusEmpresa(this, event)"><i class="material-icons text-rojo-cadhu">delete</i></a>

                          </td>

                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
            {% if titulo == 'Empresas' %}
                <div class="row center">
                    <a href="{% url 'prospectos:lista_empresas_inactivo' %}" class="btn waves-effect waves-light green darken-1">Activos</a>
                </div>
            {% endif %}
            {% if titulo == 'Empresas inactivas' %}
                <div class="row center">
                    <a href="{% url 'prospectos:lista_empresas' %}" class="btn waves-effect waves-light amber darken-1">Inactivos</a>
                </div>
            {% endif %}


    {% endblock %}

      {% block js %}

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js'></script>

      <script>

            function cambiar_estatusEmpresa(element, event){
              event.preventDefault();
              $.confirm({
                title: '¿Deseas cambiar el estatus de la empresa?',
                content: 'Se inactiva la empresa.',
                {% if titulo == 'Empresas' %}
                    type: 'red',
                {% endif %}
                {% if titulo == 'Empresas inactivas' %}
                    type: 'green',
                {% endif %}
                closeIcon: true,
                columnClass: 'col l6 offset-l3 s12',
                typeAnimated: true,
                buttons: {
                  continuar: {
                      {% if titulo == 'Empresas' %}
                        text: 'Inactivar',
                        btnClass: 'btn-red',
                      {% endif %}
                      {% if titulo == 'Empresas inactivas' %}
                        text: 'Activar',
                        btnClass: 'btn-green',
                      {% endif %}

                    action: function(){
                      window.location.href = $(element).attr("href");
                    }
                  }
                }
              });
            }


      </script>
      {% endblock %}

