{% extends "base.html" %}
{% load staticfiles %}

    {% block title %}Empresas{% endblock %}
      {% block content %}
        <div class="container">
            <div class="row">
                <h1 class="col s6">Empresas</h1>
            </div>
            <div class="row">
            </div>
            <table class="dataTable">
                <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Telefono</th>
                      <th>Email</th>
                      <th>Raz&oacute;n Social</th>
                  </tr>
                </thead>
                <tbody>
                {% for empresa in empresas %}
                    <tr>
                        <td>{{ empresa.Nombre }}</td>
                        <td>{{ empresa.Telefono }}</td>
                        <td>{{ empresa.Email }}</td>
                        <td>{{ empresa.Razon_Social }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

  {% endblock %}
