{% extends "base.html" %}
  {% load staticfiles %}
    {% block title %}Prospectos en empresa{% endblock %}
        {% block content %}
                <div class="card ">
                    <div class="card-content">
                      <form method="POST" action="">
                          {% csrf_token %}
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th>Prospectos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prospecto in prospectos %}
                                    <tr>
                                        <td>
                                            <label>
                                                {%  if prospecto.empresa %}
                                                <input name="prospectos[]" type="checkbox" value="{{ prospecto.id }}" checked="checked"/>
                                                {%  else %}
                                                <input name="prospectos[]" type="checkbox" value="{{ prospecto.id }}"/>
                                                {%  endif %}
                                                <span>{{ prospecto.nombre }} {{ prospecto.apellidos }}</span>
                                            </label>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" class="btn waves-effect waves-light form_button">Guardar</button>
                      </form>
                    </div>
                </div>
        {% endblock %}
